:root {
    --primary: #FAF8E9;
    --light_grey: #C5CCCC;
    --dark: #0C1713;
    --main: #D69C5F;
    --main_dark: #5B3011;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Elsie', cursive;
    scroll-behavior: smooth;
}

main{
        overflow: hidden;
}

body {
    background-color: var(--light_grey);
}

nav {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navBtn {
    display: flex;
    justify-content: space-evenly;

}

.navBtn a {
    font-family: 'DM Sans', sans-serif;
    padding: 10%;
    text-decoration: none;
    color: var(--dark);
    transition: 0.3s;
}

.navBtn a:hover {
    color: var(--main);
}

.logo {
    font-size: 2rem;
}

.navBar {
    background-color: var(--primary);
    height: 5rem;
}

.image_container {
    position: relative;
    height: 40.375rem;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%; 
    background-color: var(--main);
}

.mainHeading {
    position: absolute;
    font-size: 5rem;
    font-weight: 300;
    top: -7%;
    left: 1.1%;
}

.subHead {
    font-family: 'DM Sans', sans-serif;
    font-style: italic;
    position: absolute;
    font-size: 1.25rem;
    left: 1.1%;
    top: 5.1%;
    color: var(--primary);
}

.main_img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-15deg);
}

.leaf_infront {
    z-index: 1;
    width: 32%;
    position: absolute;
    top: 58%;
    left: 35%;
    transform: translate(-50%, 18%);
    filter: blur(5px);
}

.main_img1 {
    width: 42%;
    position: absolute;
    top: 45%;
    left: 62%;
    transform: translate(30%,10%);
    filter: blur(3px);
}

.leaf_left {
    position: absolute;
    top: 55%;
    left: 6%;
    transform: translate(0%,20%);
}

.leaf_right {
    position: absolute;
    top: 40%;
    right: 23%;
    transform: translate(0%,20%);
}

.top_left_img {
    width: 22%;
    position: absolute;
    top: 5%;
    transform: translate(0%,20%);
    filter: blur(5px);
}

.behind_main {
    width: 22%;
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(5%, -55%);
    filter: blur(7px);
}
.top_right_img {
    width: 17%;
    position: absolute;
    top: 5%;
    right: 1%;
    transform: translate(0%,20%);
    filter: blur(2px);
}

.btnGrp {
    margin-top: -10%;
    height: 10rem;
    position: relative;
}

.buyNow {
    position: absolute;
    top: 15%;
    left: 6%;
    height: 3.125rem;
    width: 6.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 1000px;
    font-family: 'DM Sans', sans-serif;
    color: var(--primary);
    background-color: var(--main_dark);
    cursor: pointer;
    transition: 0.3s;
}

.buyNow:hover {
    background-color: transparent;
    color: var(--dark);
    border: 1px solid var(--dark);
}

.discover {
    position: absolute;
    top: 15%;
    align-items: center;
    left: 15%;
    height: 50px;
    cursor: pointer;
    margin-left: 1rem;
    transition: 0.3s;
}

.discover:hover {
    filter: invert();
}

.discover img {
    height: 3.125rem;
}

.discover p {
    font-family: 'DM Sans', sans-serif;
}

.image_container_hero {
    position: relative;
    height: 40.375rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--main);
    margin-bottom: 5%;
}

.mainHeadingHero {
    position: absolute;
    font-size: 5rem;
    font-weight: 300;
    top:-7%;
    left: 1.1%;
}

.mainSubheadingHero {
    width: 70%;
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    font-size: 2.5rem;
    top: 28.7%;
    left: 1.1%;
    color: var(--dark);
}

.buyNowHero {
    position: absolute;
    left: 1.1%;
    top: 65.7%;
    height: 3.75rem;
    width: 7.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 1.25rem;
    font-family: 'DM Sans', sans-serif;
    color: var(--primary);
    background-color: var(--main_dark);
    cursor: pointer;
    transition: 0.3s;
}

.buyNowHero:hover {
    background-color: transparent;
    color: var(--dark);
    border: 1px solid var(--dark);
}

.infoHead {
    width:max-content;
    position: relative;
    top: 85%;
    left: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.info {
    font-family: 'DM Sans', sans-serif;
    width:9.375rem;
    margin: auto;
    text-align: center;
    padding: 2%;
}

.right_img {
    height: 40.375rem;
    margin-left: 40%;
    position: relative;
    top: 41.7%;
    transform: translate(0%, -50%);
    overflow: hidden;
}

.podium {
    width: 100%;
    position: absolute;
    bottom: -45%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.podium_img {
    width: 120%;
    position: absolute;
    bottom: -47%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.footerContent {
    margin: auto;
    width: 90.5%;
    display: flex; 
    justify-content: space-between;
}

.footerBorder {
    /* background-color: var(--dark);  */
    margin: auto;
    width: 90.5%;
    height: 10px;
    border-top: 1px solid var(--main_dark);
}

.footerText {
    font-size: 1.1rem;
    width: 85%;
    color: var(--dark);
    margin-bottom: 1%;
}

.contacts {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1%;
}
